container_commands:
  01_migrate:1
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  03_chmod:
    command: "chmod 664 /var/app/current/db.sqlite3"
  04_chown:
    command: "chown webapp:webapp /var/app/current/db.sqlite3"
  05_chmod_dir:
    command: "chmod 775 /var/app/current"
  06_debug:
    command: "ls -l /var/app/current > /var/log/eb-activity.log"
  07_dubug2:
    command: "ls -l /var/app/current/db.sqlite3 > /var/log/eb-activity.log" 
  08_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py shell < create_superuser.py"
    leader_only: true
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: jobhunt.settings