{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h1 class="card-title mb-4">Login</h1>
                        <form class="text-center" method="post">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="mb-3">{{field}}

                            </div>

                            {% endfor %}
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button>
                            </div>
                            <p class="text-muted">New user Register here?<a href="/users/register">
                                Sign Up
                            </a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%else%}
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h1 class="card-title mb-5">Register</h1>
                        <form class="text-center" method="post">
                            {% csrf_token %}
                            <!-- {{form.as_p}} -->



                            {% for field in form %}
                            <div class="mb-3">{{field}}

                                {% for error in field.errors %}
                                <p class="invalid-feedback">{{ error|escape }}</p>
                                {% endfor %}
                            </div>

                            {% endfor %}
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Register</button>
                            </div>
                            <p class="text-muted"> Already have an account? <a href="/users/login">
                                Sign In
                            </a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}